{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}
{% block container %}
    <div class="col-lg-4 col-md-6 mb-4">
        <h1>Bienvenue dans l'espace d'administration</h1>
        <ul>
            <li><a href="{{ path('new-car') }}">Ajouter une nouvelle voiture</a></li>
        </ul>
    </div>
{% endblock %}