{% extends "base.html.twig" %}
{% block title %}Ajouter une nouvelle voiture{% endblock %}
{% block container %}
    <h1>Ajouter une nouvelle voiture</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}